@charset "UTF-8";
html, body, div, ul, li {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #4d4d4d;
	color: rgb(77, 77, 77);
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background-color: hsla(208, 100%, 77%, 1);
}
h1 {
	width: 100%;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}

.container{
	width:70%;
	height: 100%;
	background-color: #fff;
}
.description{
	width:100%;
	box-sizing: border-box;
	padding: 0 20px;
}
.panel{
	float:right;
	width: 35%;
	margin: 0 5%;
}
.card-count{
	text-align: center;
}
.card-container {
	padding: 0 auto;
}
.card-container img {
	box-shadow: 2px 10px 25px #888888;
	height: 13em;
	width: 9em;
	border-radius: 5px;
	padding: 0 auto;
}
.row-centered {
	text-align: center;
}
.btn {
	margin: 0 auto;
	margin-top: 5px;
}